extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				#user
					h1.text-center.login-title Welcome #{user.twitter.displayName}. Check your details below:
							img(user.twitter.lastStatus)
							div.signup-wall
								ul.user-details
									li Id    ---> #{user.twitter.id}
									li User name ---> #{user.twitter.username} 
									li Display Name ---> #{user.twitter.displayName}
							a(href='/signout', class='text-center new-account') Sign Out
